.auth-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../../../public/authBgImage.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.auth-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
}

.auth-container > * {
  position: relative;
  z-index: 2;
}
