.slick-dots {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  bottom: 30px;
}

.slick-dots li {
  width: 15px;
  height: 15px;
  background-color: #af8f6f;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  width: 20px;
  height: 20px;
  background-color: #74512d;
}

@media only screen and (max-width: 576px) {
  .slick-slide {
    height: 200px;
  }

  .slick-dots {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    bottom: 10px;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
    background-color: #af8f6f;
    border-radius: 50%;
  }

  .slick-dots li.slick-active {
    width: 15px;
    height: 15px;
    background-color: #74512d;
  }
}
